<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="UnisuperContext" connectionString="metadata=res://*/Unisuper.csdl|res://*/Unisuper.ssdl|res://*/Unisuper.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=Ke-PC;initial catalog=UniSuper;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>